.left-box .show1{height:100%;width: 100%;}
.container-show1{height: 100%;width: 100%;position: relative;}

.chinaMap-cell-box{height: 100%;width: 100%;position: relative;}
.virtual-area{position: absolute}
.content1{background: url("../images/bg.png") no-repeat;background-size: 100% 100%}
